.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.auction-row {
  margin: auto;
  display: flex;
  align-items: center;

  justify-content: center;
  width: 95%;
  height: 60px;
}

.auction-cell {
  width: 7.69%;
  padding: 15px;
}

.bid-row {
  margin: auto;
  display: flex;
  width: 70%;
  height: 60px;
}

.bid-cell {
  width: 25%;
  padding: 15px;
}

.new-bid-cell {
  display: flex;
}

.user-row {
  margin: auto;
  display: flex;
  width: 70%;
  height: 60px;
}

.user-cell {
  width: 20%;
  padding: 15px;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.search-row {
  margin: auto;
  display: flex;
  width: 70%;
  height: 60px;
}

.search-cell {
  width: 16.666666667%;
  padding: 15px;
}

.watchlist-row {
  margin: auto;
  display: flex;
  width: 70%;
  height: 60px;
}

.watchlist-cell {
  width: 50%;
  padding: 15px;
}

.window-list-row {
  margin: auto;
  display: flex;
  width: 70%;
  height: 60px;
}

.window-list-cell {
  width: 50%;
  padding: 15px;
}

.flagged-row {
  margin: auto;
  display: flex;
  width: 70%;
  height: 60px;
}

.flagged-cell {
  width: 33.333333%;
  padding: 15px;
}

.buynow-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
